/* fonts */
@font-face {
    font-family: 'meows';
    src: url('../fonts/Meows/Meows.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#content {
    height: 100vh;
    background: url(../PNG/background2.jpg) no-repeat center fixed;
    background-size: cover;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 5px;
}

.main {
    height: 100vh;
}

/* hero */
.hero {
    font-size: xx-large;
    max-width: 500px;
    margin-top: 5%;
    margin-left: 5%;
}

/* header */
header {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: x-large;
}

#cafeName {
    font-family: 'meows', Arial, Helvetica, sans-serif;
    font-size: xxx-large;
}

header img {
    max-width: 70px;
}

header li {
    margin-left: 30px;
    margin-bottom: 5px;
}

header li:hover {
    cursor: pointer;
    border-bottom: 1px solid tomato;
}

/* footer */
footer {
    margin-top: auto;
    background-color: mintcream;
}

footer>* {
    margin: 10px;
}