/* fonts */
@font-face {
    font-family: 'meows';
    src: url('../fonts/Meows/Meows.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: url(../PNG/background2.jpg) no-repeat center fixed;
    background-size: cover;
}

#content {
    height: 100vh;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 5px;
}

.main {
    height: 100vh;
}

.container {
    width: clamp(300px, 80%, 950px);
    height: fit-content;
    border: 3px solid tomato;
    border-radius: 20px;
    background-color: rgb(148, 142, 127, 0.6)
}

.blur {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.section-header {
    font-size: xx-large;
}

.section-header-small {
    font-size: x-large;
    border-bottom: 2px solid grey;
    margin: 20px;
}

.start {
    align-content: flex-start;
}

.menu-item {
    /* justify-content: space-between; */
    width: 100%;
    padding: 10px 20px;
}

.menu-image {
    float: left;
    width: 250px;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 10px;

}

/* hero */
.hero {
    font-size: xx-large;
    max-width: 500px;
    margin-top: 5%;
    margin-left: 5%;
}

/* header */
header {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: x-large;
}

#cafeName {
    font-family: 'meows', Arial, Helvetica, sans-serif;
    font-size: xxx-large;
}

header img {
    max-width: 70px;
}

header li {
    margin-left: 30px;
    margin-bottom: 5px;
}

header li:hover {
    cursor: pointer;
    border-bottom: 1px solid tomato;
}

/* footer */
footer {
    margin-top: auto;
    /* background-color: mintcream; */
}

footer>* {
    margin: 10px;
}